{% extends 'base.html' %}

{% block title %}
    Создание товаров
{% endblock %}

{% block body %}
    <h1>Добавление товара</h1>
    <div class="container">
        <form class="form-control" method="post">
            <input type="text" class="form-control" name="title" id="title" placeholder="Title" required><br>
            <input type="text" class="form-control" name="about" id="about" placeholder="About" required><br>
            <input type="number" class="form-control" name="price" id="price" placeholder="Price" required><br>
            <button type="submit" class="btn btn-success">Добавить товар</button>
        </form>
    </div> 
{% endblock %}