{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Тестовый магазин</h1>
    <p class="fs-5 text-muted">Тестовый магазин используется для обучения возможностям <a
            href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">Flask</a> при создании сайтов</p>
</div>

<div class="item-card">
    {% for el in items%}
    <div class="col item-card2 text-center">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 ">
            <h4 class="my-0 fw-normal">{{ el.title }}</h4>
          </div>
          <div class="card-body ">
            <h1 class="card-title pricing-card-title">{{ el.price }} UAH</small></h1>
            <p>{{ el.about }}</p>
            <div class="item-card7">
            <div><a href="/item/{{ el.id }}" class="w-100 btn btn-lg btn-outline-primary">Инфо</a></div>
            <div><a href="/item/{{ el.id }}" class="w-100 btn btn-lg btn-outline-primary">Купить</a></div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</div>



{% endblock %}