.item-card {
    display: flex;
    flex-wrap: wrap;
}


.item-card7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-card2 {
    flex: 1 0 33%;
    padding: 20px;
}

.error {
    text-align: center;
    margin-top: 250px;
}
  


